.vscode
node_modules/
target/
build/
docs/worklog/
package/
native/utils/deviceQuery/CudaArch.mk
native/utils/deviceQuery/deviceQuery
*.o
*.so
*.a
*.exe
Cargo.lock
wrappers/rust/src/device/bindings.rs
wrappers/cpp/depends/gmp
wrappers/cpp/depends/*.xz