[submodule "cuda/depends/ffiasm"]
	path = cuda/depends/ffiasm
	url = git@github.com:okx/ffiasm.git
[submodule "cuda/depends/blst"]
	path = cuda/depends/blst
	url = git@github.com:supranational/blst.git
[submodule "cuda/depends/goldilocks"]
	path = native/depends/goldilocks
	url = https://github.com/okx/goldilocks.git
