.vscode
node_modules/
target/
build/
docs/worklog/
package/
depends/gmp/
depends/*.tar*
cuda/CudaArch.mk
cuda/utils/deviceQuery/CudaArch.mk
cuda/utils/deviceQuery/deviceQuery
*.o
*.so
*.a
*.exe
Cargo.lock
src/device/bindings.rs