[submodule "native/depends/goldilocks"]
	path = native/depends/goldilocks
	url = https://github.com/okx/goldilocks.git
[submodule "native/depends/blst"]
	path = native/depends/blst
	url = git@github.com:supranational/blst.git
[submodule "wrappers/cpp/depends/ffiasm"]
	path = wrappers/cpp/depends/ffiasm
	url = git@github.com:okx/ffiasm.git

